<style>
  .ckPageContainer {
    max-width: 800px;
    margin: auto;
  }
</style>

<div class="ckPageContainer">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">Cocktail Kamu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" pathMatch>Main</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="recipes" routerLinkActive="active">Drinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ingredients/add" routerLinkActive="active">Ingredients</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contribute</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="recipe/add" routerLinkActive="active">Add drinks</a>
            <a class="dropdown-item" routerLink="ingredients/add" routerLinkActive="active">Add ingredients</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet>

  </router-outlet>
</div>
