<style>
  .ckPageContainer {
    max-width: 800px;
    margin: auto;
  }
</style>

<div class="ckPageContainer">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">Cocktail Kamu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" pathMatch>Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipes/add" routerLinkActive="active">Drinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ingredients/add" routerLinkActive="active">Ingredients</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet>

  </router-outlet>
</div>