<style>
    .star {
      position: relative;
      display: inline-block;
      font-size: 2rem;
      color: #d3d3d3;
    }
    .full {
      color: #1e90ff;;
    }
    .half {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #1e90ff;;
    }
</style>

<div *ngIf="drink !== null" class="container">
    <div class="row">
        <div class="col-sm" style="border: 1px solid lightgray; border-radius: 5px; margin: 15px; padding-top: 10px;">
            <h4>{{drink.name}}</h4>
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>
            <ngb-rating [rate]="currentRating" [starTemplate]="t" [max]="5" (rateChange)="rateChange"></ngb-rating>
            <p class="lead">{{drink.description}}</p>
        </div>
    </div>
    <div class="row" style="text-align: start;">
        <!-- Ingredients -->
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of drink.ingredients">
                    <div class="row">
                        <div class="col-8">{{ingredient.name}}</div>
                        <div class="col-4">{{ingredient.amount}} {{ingredient.amount_unit}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Steps -->
        <div class="col-sm-6" style="padding-top: 10px;">
            <p class="lead" style="text-align: center;">Steps</p>
            <ul>
                <li *ngFor="let step of drink.steps">
                    {{step.description}}
                </li>
            </ul>
        </div>
    </div>
</div>