
<div class="container">
    <div style="max-width: 400px; margin: auto; text-align: center; margin-top: 10px;">
        <h3 style="flex-direction: row; display: inline-block;">Search drinks</h3>
        <input 
            id="searchBar" 
            type="text" 
            class="form-control" 
            placeholder="Search"
            style="display: inline-block;"
            [formControl]="searchBar"
        />
    </div>
    <div style="padding-top: 25px;">
        <div class="col" style="margin: 10px" *ngFor="let drink of results">
            <div class="card" >
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-11">
                        <a routerLink="../recipe/{{drink.id}}" class="card-title">{{drink.name}}</a>
                        <p class="card-text">{{ (drink.description.length>100)? (drink.description | slice:0:100)+'...':(drink.description) }}</p>
                        </div>
                    
                        <div style="margin: auto; text-align: end;">
                            <a routerLink="../recipe/{{drink.id}}"><span class="oi oi-caret-right" style="display: inline;"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>